.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        padding-bottom: $grutter-vertecal;

        @include respond(tab-port){
            padding-bottom: $grutter-vertecal-small;
        }
    }

    @include respond(tab-port){
        max-width: 50rem;
        padding: 0 3rem
    }

    @include clearflix;

    [class^="col-"]{
        float: left;

        &:not(:last-child){
            margin-right: $grutter-horzental;

            @include respond(tab-port){
                margin-right: 0;
                padding-bottom: $grutter-vertecal-small;
            }
        }

        @include respond(tab-port){
            width: 100% !important;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$grutter-horzental}) / 2);
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$grutter-horzental}) / 3);
    }
    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$grutter-horzental}) / 3) + #{$grutter-horzental});
    }
    .col-1-of-4{
        width: calc((100% - 3 * #{$grutter-horzental}) / 4);
    }
    .col-2-of-4{
        width: calc(2 * ((100% - 3 * #{$grutter-horzental}) / 4) + #{$grutter-horzental});
    }
    .col-3-of-4{
        width: calc(3 * ((100% - 3 * #{$grutter-horzental}) / 4) + 2 * #{$grutter-horzental});
    }
}