
.u-text-center{text-align: center !important;}

.u-margin-buttom-small{margin-bottom: 1.5rem !important;}
.u-margin-buttom-medium{
    margin-bottom: 4rem !important;

    @include respond(tab-port){
        margin-bottom: 2rem !important;
    }
}
.u-margin-buttom-large{ 
    margin-bottom: 8rem !important;

    @include respond(tab-port){
        margin-bottom: 4rem !important;
    }
}

.u-margin-top-large{ margin-top: 8rem !important;}
.u-margin-top-small{ margin-top: 4rem !important;}
